{% extends 'blog/base.html' %}

{% block content %}
	<div>
		<h2>Who am I?</h2>
	    <p>
	    	My name is Leon Nguyen and I am a second year software engineering student :) I am always eager to improve my overall skills as a software developer.
	    </p>
	</div>
    <div>
		<h2>Why a blog?</h2>
	    <p>
	    	To improve my algorithmic and problem solving skills by detailing my thoughts and approach to different coding challenges. Currently I am focusing on interview-type questions but I hope to transition to competition questions once I am more proficient! I will try to make a blog post at least once a fortnight.
	    </p>
	</div>
	<div>
		<h2>How did you create this website?</h2>
	    <p>
	    	Django. Most of this website was manually implemented -- no imported apps or plugins. I thought that it would be a great way to gain some web development experience and it was!
	    </p>
	</div>
	<div>
		<h2>Any Enquiries?</h2>
	    <p>
	    	Just send me an email through the contact form at the top :)
	    </p>
	</div>
{% endblock %}