{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if user.is_authenticated %}
		    {% if post.published_date == null %}
                <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
		    <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
		{% endif %}
        <h1>{{ post.title }}</h1>
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

    <hr>

    
    {% if post.comments.all.count == 0 %} 
        <p><a href="{% url 'post_add_comment' pk=post.pk %}">Be the first to comment (requires approval)</a></p>
    {% else %}
        <p><a href="{% url 'post_add_comment' pk=post.pk %}">Add a new comment</a></p>
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
            <div class="comment">
                <strong>{{ comment.author }}</strong>
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'post_comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                        <a class="btn btn-default" href="{% url 'post_comment_delete' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                    {% endif %}
                </div>
                <p>{{ comment.text }}</p>
            </div>
            {% endif %} 
        {% endfor %}
    {% endif %}
{% endblock %}